/* TODO: find a more suitable place for global styles of slotted content - https://github.com/w3c/webcomponents-cg/issues/5 */

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="search"],
select,
textarea {
  &[disabled] {
    &::placeholder {
      color: $INPUTTER_DISABLED_PLACEHOLDER_COLOR;
    }
  }

  &::placeholder {
    color: $INPUTTER_PLACEHOLDER_COLOR;
    opacity: 1; /* NOTE: This overrides the Firefox user agent style of `opacity: 0.54;` */
  }

  &:focus,
  &:focus-visible {
    outline-offset: 0;
    outline-color: $INPUTTER_FOCUS_COLOR;
    outline-style: solid;
    outline-width: 2px;
  }
}

/* stylelint-disable no-descending-specificity */
input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    background-color: orange; /* TODO: define changes to these pseudo elements */
  }
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    background-color: orange; /* TODO: define changes to these pseudo elements */
  }
}
/* stylelint-enable no-descending-specificity */
