/* TODO: find a more suitable place for global styles of slotted content - https://github.com/w3c/webcomponents-cg/issues/5 */

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="search"],
select,
textarea {
  &[disabled] {
    &::placeholder {
      color: $INPUTTER_DISABLED_PLACEHOLDER_COLOR;
    }
  }

  &::placeholder {
    color: $INPUTTER_PLACEHOLDER_COLOR;
    opacity: 1; /* NOTE: This overrides the Firefox user agent style of `opacity: 0.54;` */
  }

  &:focus,
  &:focus-visible {
    outline-offset: 0;
    outline-color: $INPUTTER_FOCUS_COLOR;
    outline-style: solid;
    outline-width: 2px;
  }
}

/* stylelint-disable no-descending-specificity */
input[type="date"] {
  &::-webkit-datetime-edit-fields-wrapper {
    padding-block-start: 0; /* NOTE: in chormium, there's `padding: 1px 0` for this pseudo element which makes the height of the input taller */
    padding-block-end: 0; /* NOTE: in chormium, there's `padding: 1px 0` for this pseudo element which makes the height of the input taller */
  }

  &::-webkit-calendar-picker-indicator {
    margin-inline-start: 0;
    opacity: 0; /* NOTE: the calendar icon is defined in the token: `$INPUTTER_TYPE_DATE`. Here I'm setting `opacity: 0` because `display: none` removes the clickable element for Chrome */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 2rem;
  }
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    background-color: orange; /* TODO: define changes to these pseudo elements */
  }
}
/* stylelint-enable no-descending-specificity */
