
# compiled output
/dist
/storybook-static
build-storybook.log

# dependencies
/node_modules

# other
.DS_Store

# allure
/allure-results
/allure-report
/cypress/videos

# browserstack
/results
/log
local.log