@import "@muonic/muon/css/default.css";

:host {
  & summary {
    &::-webkit-details-marker {
      display: none;
    }
  }

  & .details {
    color: $INPUTTER_DETAIL_COLOR;
    margin-block-start: $INPUTTER_DETAIL_MARGIN_BLOCK_START;
    margin-block-end: $INPUTTER_DETAIL_MARGIN_BLOCK_END;
  }

  & .toggle {
    width: $INPUTTER_DETAIL_ICON_SIZE;
    height: $INPUTTER_DETAIL_ICON_SIZE;
    flex-shrink: 0;
  }

  & .heading {
    display: flex;
    align-items: center;
    column-gap: $INPUTTER_DETAIL_HEADING_GAP;
    width: fit-content;
    cursor: pointer;
    font-size: $INPUTTER_DETAIL_HEADING_FONT_SIZE;
    margin-block-start: $INPUTTER_DETAIL_HEADING_MARGIN_BLOCK_START;
    margin-block-end: $INPUTTER_DETAIL_HEADING_MARGIN_BLOCK_END;
    max-width: $INPUTTER_DETAIL_HEADING_LINE_LENGTH;

    &:hover {
      text-decoration: underline;
      color: $INPUTTER_DETAIL_HOVER_COLOR;
    }

    & :focus:not(:focus-visible) {
      /*
        https://matthiasott.com/notes/focus-visible-is-here and
        https://www.tpgi.com/focus-visible-and-backwards-compatibility/
      */
      outline-style: none;
    }

    &:focus-visible {
      outline-color: $INPUTTER_DETAIL_FOCUS_OUTLINE_COLOR;
      outline-offset: $INPUTTER_DETAIL_FOCUS_OUTLINE_OFFSET;
      outline-style: $INPUTTER_DETAIL_FOCUS_OUTLINE_STYLE;
      outline-width: $INPUTTER_DETAIL_FOCUS_OUTLINE_WIDTH;
    }
  }

  & .content {
    margin-block-start: $INPUTTER_DETAIL_CONTENT_MARGIN_BLOCK_START;
    margin-block-end: $INPUTTER_DETAIL_CONTENT_MARGIN_BLOCK_END;
    padding-inline-start: $INPUTTER_DETAIL_CONTENT_PADDING_INLINE;
    font-size: $INPUTTER_DETAIL_CONTENT_FONT_SIZE;
    border-inline-start-color: $INPUTTER_DETAIL_BORDER_COLOR;
    border-inline-start-style: $INPUTTER_DETAIL_BORDER_STYLE;
    border-inline-start-width: $INPUTTER_DETAIL_BORDER_WIDTH;
    max-width: $INPUTTER_DETAIL_CONTENT_LINE_LENGTH;
  }
}
