@import "./inputter-extends.css";

light-dom {
  /* NOTE: targeting Safari only */
  @media not all and (min-resolution: 0.001dpcm) { /* stylelint-disable-line media-feature-range-notation */
    /*
      NOTE: These styles are duplicated from inputter-styles.css
      due to this bug in Webkit: https://bugs.webkit.org/show_bug.cgi?id=223814
    */
    & input[type="radio"] {
      &:checked {
        &::before {
          display: block;
          content: "";
          width: 0;
          height: 0;
          border-width: 0.25em;
          border-style: solid;
          border-color: $INPUTTER_MULTIPLE_BORDER_COLOR;
          border-radius: 50%;
        }
      }
    }

    & input[type="checkbox"] {
      &:checked {
        &::before {
          display: block;
          content: "";
          width: 0.25em;
          height: 0.5em;
          border-width: 0.125em;
          border-style: solid;
          border-color: $INPUTTER_MULTIPLE_BORDER_COLOR;
          border-top: unset;
          border-right-style: solid;
          border-bottom-style: solid;
          border-left: unset;
          transform: translateY(-10%) rotate(45deg);
        }
      }
    }
  }

  & input[type="date"] {
    &::-webkit-datetime-edit,
    &::-webkit-datetime-edit-fields-wrapper,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-year-field {
      padding-block-start: 0; /* NOTE: these pseudo elements have padding applied by the user agent */
      padding-block-end: 0;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 0; /* NOTE: icon defined: `$INPUTTER_FIELD_DATE` `display: none` removes the clickable element Chrome */
      margin-inline-start: 0; /* NOTE: margin and position styles, increase the clickable area of this element Chrome */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: 2rem;
    }
  }

  & label {
    @extend %label;
  }

  & * {
    &::placeholder {
      @extend %placeholder;
    }
  }

  & :is(
  input[type="date"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  select,
  textarea) {
    @extend %input;
  }

  & :is(
  input[type="date"]:hover,
  input[type="email"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="text"]:hover,
  select:hover,
  textarea:hover) {
    @extend %input-hover;
  }

  & :is(
  input[type="date"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  select:focus,
  textarea:focus) {
    @extend %input-focus;
  }

  /* @TODO: configure how to remove if disable off */
  & :is(
    input[type="date"]:disabled,
    input[type="email"]:disabled,
    input[type="number"]:disabled,
    input[type="password"]:disabled,
    input[type="search"]:disabled,
    input[type="tel"]:disabled,
    input[type="text"]:disabled,
    select:disabled,
    textarea:disabled) {
    @extend %input-disabled;
  }

  & *:disabled::placeholder {
    @extend %placeholder-disabled;
  }

  & :is(
    input[type="checkbox"],
    input[type="radio"]) {
    @extend %input-multiple;
  }

  & :is(
    input[type="checkbox"]:hover,
    input[type="radio"]:hover) {
    @extend %input-multiple-hover;
  }

  & :is(
    input[type="checkbox"]:focus-visible,
    input[type="radio"]:focus-visible) {
    @extend %input-multiple-focus;
  }

  /* @TODO: configure how to remove if disable off */
  & :is(
    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled) {
    @extend %input-multiple-disabled;
  }

  & input[type="checkbox"] {
    @extend %input-checkbox;
  }

  & input[type="radio"] {
    @extend %input-radio;
  }

  & input[type="radio"]:checked::before {
    @extend %input-radio-checked-before;
  }

  & input[type="checkbox"]:checked::before {
    @extend %input-checkbox-checked-before;
  }

  & :is(input[type="checkbox"], input[type="radio"]) + label {
    @extend %label-multiple;
  }

  & :is(input[type="checkbox"], input[type="radio"]) + label:hover {
    @extend %label-multiple-hover;
  }

  & :is(
    select,
    input[type="date"]) {
    @extend %input-select;
  }

  & input[type="search"] {
    @extend %input-search;
  }

  & textarea {
    @extend %input-textarea;
  }

  &[mask]:not([mask='']) {
    & :is(
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="tel"],
      input[type="text"]
    ) {
      @extend %input-mask;
    }

    & input[type="text"] {
      @extend %input-mask-text;
    }
  }
}
