@import '@muon/library/css/default.css';

:host {
  display: inline-block;
  user-select: none;

  /**
  * Styles specifically for the `<a>` element.
  * Retain the order `:link`, `:visited`, `:hover`, `:active`
*/
  & a {
    &:link {
      text-decoration: none;
    }
  }

  /**
  * Styles specifically for the `<button>` element.
*/
  & button {
    font-size: inherit;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  & .cta {
    display: flex;
    align-items: flex-start;
    column-gap: var(--mn-cta-column-gap);
    padding-top: var(--mn-cta-padding-top);
    padding-right: var(--mn-cta-padding-right);
    padding-bottom: var(--mn-cta-padding-bottom);
    padding-left: var(--mn-cta-padding-left);
    background-color: var(--mn-cta-background-color);
    color: var(--mn-cta-color);
    border-width: var(--mn-cta-border-width);
    border-style: var(--mn-cta-border-style);
    border-color: var(--mn-cta-border-color);
    border-radius: var(--mn-cta-border-radius);

    &:hover {
      background-color: var(--mn-cta-hover-background-color);
      color: var(--mn-cta-hover-color);
      border-color: var(--mn-cta-hover-border-color);
    }

    &:focus {
      background-color: var(--mn-cta-focus-background-color);
      color: var(--mn-cta-focus-color);
      border-color: var(--mn-cta-focus-border-color);
      outline-color: var(--mn-cta-focus-outline-color);
      outline-offset: var(--mn-cta-focus-outline-offset);
      outline-style: var(--mn-cta-focus-outline-style);
      outline-width: var(--mn-cta-focus-outline-width);
    }

    &:active {
      background-color: var(--mn-cta-active-background-color);
      color: var(--mn-cta-active-color);
      border-color: var(--mn-cta-active-border-color);
    }

    &[disabled] {
      background-color: var(--mn-cta-disabled-background-color);
      color: var(--mn-cta-disabled-color);
      border-color: var(--mn-cta-disabled-border-color);
      pointer-events: none;
    }

    &.loading {
      background-color: var(--mn-cta-loading-background-color);
      color: var(--mn-cta-loading-color);
      border-color: var(--mn-cta-loading-border-color);
      pointer-events: none;
    }

    & .label-holder {
      font-family: var(--mn-cta-label-font-family);
      display: flex;
      min-width: 15ch;
      max-width: 65ch;
    }

    & .icon {
      width: var(--mn-cta-icon-size);
      height: var(--mn-cta-icon-size);
    }
  }
}
