@import "@muons/library/css/default.css";

:host {
  display: block;
  margin-block-start: 0.5rem;
  color: $INPUTTER_DETAIL_COLOR;

  & .toggle {
    width: 1rem;
  }

  & .heading {
    display: flex;
    align-items: center;
    text-align: start;
    column-gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
      color: $INPUTTER_DETAIL_HOVER_COLOR;
    }

    & :focus:not(:focus-visible) {
      /*
        https://matthiasott.com/notes/focus-visible-is-here and
        https://www.tpgi.com/focus-visible-and-backwards-compatibility/
      */
      outline-style: none;
    }

    &:focus-visible {
      /* stylelint-disable declaration-block-no-redundant-longhand-properties */
      outline-color: $INPUTTER_DETAIL_FOCUS_OUTLINE_COLOR;
      outline-offset: 0; /* NOTE: Chrome user agent stylesheet adds a 1px offset on the `<a>` */
      outline-style: solid;
      outline-width: 3px;
      /* stylelint-enable declaration-block-no-redundant-longhand-properties */
    }
  }

  & .content {
    margin-block-start: 0.5rem;
    padding-inline-start: 0.5rem;
    font-size: 12px;
    /* stylelint-disable declaration-block-no-redundant-longhand-properties */
    border-inline-start-style: solid;
    border-inline-start-width: 3px;
    border-inline-start-color: $INPUTTER_DETAIL_BORDER_COLOR;
    /* stylelint-enable declaration-block-no-redundant-longhand-properties */
  }
}
