@import "@muons/library/css/default.css";

:host {
  display: block;

  & summary {
    &::-webkit-details-marker {
      display: none;
    }
  }

  & .heading {
    display: flex;
    align-items: center;
    column-gap: $DETAIL_HEADING_GAP;
    padding-block-start: $DETAIL_HEADING_PADDING_BLOCK;
    padding-block-end: $DETAIL_HEADING_PADDING_BLOCK;
    padding-inline-start: $DETAIL_HEADING_PADDING_INLINE;
    padding-inline-end: $DETAIL_HEADING_PADDING_INLINE;
    background-color: $DETAIL_HEADING_BACKGROUND_COLOR;
    color: $DETAIL_HEADING_COLOR;
    cursor: pointer;
    font-size: 21px;

    &:hover {
      background-color: $DETAIL_HEADING_HOVER_BACKGROUND_COLOR;
      color: $DETAIL_HEADING_HOVER_COLOR;
      text-decoration: underline;
    }

    & :focus:not(:focus-visible) {
      /*
         https://matthiasott.com/notes/focus-visible-is-here and
         https://www.tpgi.com/focus-visible-and-backwards-compatibility/
      */
      outline-style: none;
    }

    &:focus-visible {
      background-color: $DETAIL_HEADING_FOCUS_BACKGROUND_COLOR;
      color: $DETAIL_HEADING_FOCUS_COLOR;
      outline-color: $DETAIL_HEADING_FOCUS_OUTLINE_COLOR;
      outline-style: solid;
      outline-width: 3px;
      outline-offset: 0;
      text-decoration: underline;
    }
  }

  & .content {
    color: $DETAIL_CONTENT_COLOR;
    padding-block-start: $DETAIL_CONTENT_PADDING_BLOCK;
    padding-block-end: $DETAIL_CONTENT_PADDING_BLOCK;
    padding-inline-start: $DETAIL_CONTENT_PADDING_INLINE;
    padding-inline-end: $DETAIL_CONTENT_PADDING_INLINE;
  }

  & .decoration {
    width: $DETAIL_DECORATION_ICON_SIZE;
    height: $DETAIL_DECORATION_ICON_SIZE;
    flex-shrink: 0;
  }

  & .toggle {
    width: $DETAIL_TOGGLE_ICON_SIZE;
    height: $DETAIL_TOGGLE_ICON_SIZE;
    flex-shrink: 0;
  }

  & .has-decoration,
  & .toggle-start {
    & .content {
      padding-inline-start: $DETAIL_CONTENT_INLINE_SPACER;
    }
  }

  & .toggle-start {
    & .icon {
      margin-inline-start: auto; /* this aligns the icon to the opposite end */
    }
  }

  & .toggle-end {
    & .toggle {
      margin-inline-start: auto; /* this aligns the toggle to the opposite end */
    }
  }
}
