@import '@muons/library/css/default.css';

:host {
  display: block;
  width: 20rem;

  & .toggle-icon {
    margin: 1rem 0.5rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  & .summary {
    display: block;
  }

  & .heading-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;

    & .icon {
      margin: 0.75rem 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  & .panel {
    font-size: 0.75rem;
    margin-left: 1.5rem;
  }
}
