@import '@muons/library/css/default.css';

:host {
  display: block;
  font-family: "Open Sans", sans-serif;
  width: 20rem;

  & .open-close-icon {
    float: right;
    margin: 1rem 0.5rem;
    width: 1rem;
    height: 1rem;

    & .close-icon {
      display: none;
    }
  }

  & .summary {
    display: block;
  }

  & .heading-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;

    & .icon {
      margin: 0.75rem 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  & .details[open] {
    & .open-icon {
      display: none;
    }

    & .close-icon {
      display: block;
    }
  }

  & .panel {
    font-size: 0.75rem;
    margin-left: 1.5rem;
  }
}
