@import "@muons/library/css/default.css";

:host {
  display: block;

  & summary {
    &::-webkit-details-marker {
      display: none;
    }
  }

  & .toggle-start {
    & .icon {
      margin-inline-start: auto; /* this aligns the icon to the opposite end */
    }
  }

  & .toggle-end {
    & .toggle {
      margin-inline-start: auto; /* this aligns the toggle to the opposite end */
    }
  }

  & .heading {
    display: flex;
    align-items: center;
    text-align: start;
    column-gap: 1rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background-color: $DETAIL_DEFAULT_BACKGROUND_COLOR;
    color: $DETAIL_DEFAULT_COLOR;
    cursor: pointer;
    font-size: 21px;

    & .icon,
    & .toggle {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: $DETAIL_HOVER_BACKGROUND_COLOR;
      color: $DETAIL_HOVER_COLOR;
      text-decoration: underline;
    }

    & :focus:not(:focus-visible) {
      /*
        https://matthiasott.com/notes/focus-visible-is-here and
        https://www.tpgi.com/focus-visible-and-backwards-compatibility/
      */
      outline-style: none;
    }

    &:focus-visible {
      background-color: $DETAIL_FOCUS_BACKGROUND_COLOR;
      color: $DETAIL_FOCUS_COLOR;
      /* stylelint-disable declaration-block-no-redundant-longhand-properties */
      outline-color: $DETAIL_FOCUS_OUTLINE_COLOR;
      outline-style: solid;
      outline-width: 3px;
      /* stylelint-enable declaration-block-no-redundant-longhand-properties */
      outline-offset: 0; /* Chrome by default adds a 1px offset on the `<a>` */
      text-decoration: underline;
    }
  }

  & .content {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  & .has-icon,
  & .toggle-start {
    & .content {
      padding-inline-start: 3.5rem;
    }
  }
}
