{{page-title "Text"}}

<LinkTo @route="index">
  Home
</LinkTo>
/
<LinkTo @route="inputter">
  Inputter
</LinkTo>

<h2>Muon Inputter - Text</h2>
<mn-inputter helper="Enter firstname to display personalized messages">
  <label slot="label">First name</label>
  <input type="text"/>
</mn-inputter>