@import '@muon/library/build/tokens/css/mn-tokens.css';
@import 'accessibility.css';

:host {
  font-family: var(--mn-font-family-regular);
}

:host([hidden]) {
  display: none;
}

:host([disabled]),
:host([loading]) {
  pointer-events: none;
}
