@import "@muonic/muon/css/default.css";

:host {
  display: inline-block;
  user-select: none;
  font-family: $CTA_FONT_FAMILY;

  /**
  * Styles specifically for the `<a>` element.
  * Retain the order `:link`, `:visited`, `:hover`, `:active`
  */
  & a {
    &:link {
      text-decoration: none;
    }
  }

  /**
  * Styles specifically for the `<button>` element.
  * The `<button>` element does not inherit font-family, font-size, font-weight or line-height.
  */
  & button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  & .cta {
    display: flex;
    align-items: center;
    column-gap: $CTA_GAP;
    padding-block-start: $CTA_PADDING_BLOCK;
    padding-block-end: $CTA_PADDING_BLOCK;
    padding-inline-start: $CTA_PADDING_INLINE;
    padding-inline-end: $CTA_PADDING_INLINE;
    background-color: $CTA_BACKGROUND_COLOR;
    color: $CTA_COLOR;
    border-color: $CTA_BORDER_COLOR;
    border-width: $CTA_BORDER_WIDTH;
    border-style: $CTA_BORDER_STYLE;
    border-radius: $CTA_BORDER_RADIUS;

    &:hover {
      background-color: $CTA_HOVER_BACKGROUND_COLOR;
      border-color: $CTA_HOVER_BORDER_COLOR;
      text-decoration: underline;
    }

    & :focus:not(:focus-visible) {
      /*
        https://matthiasott.com/notes/focus-visible-is-here and
        https://www.tpgi.com/focus-visible-and-backwards-compatibility/
      */
      outline-style: none;
    }

    &:focus-visible {
      outline-color: $CTA_FOCUS_OUTLINE_COLOR;
      outline-style: solid;
      outline-width: 3px;
      outline-offset: 0;
      text-decoration: underline;
    }

    &:active {
      background-color: $CTA_ACTIVE_BACKGROUND_COLOR;
      border-color: $CTA_ACTIVE_BORDER_COLOR;
    }

    &[disabled],
    &.disabled {
      background-color: $CTA_DISABLED_BACKGROUND_COLOR;
      border-color: $CTA_DISABLED_BORDER_COLOR;
      pointer-events: none;
    }

    &.loading {
      background-color: $CTA_LOADING_BACKGROUND_COLOR;
      border-color: $CTA_LOADING_BORDER_COLOR;
      pointer-events: none;
    }

    & .label-holder {
      min-inline-size: $CTA_LABEL_MIN_WIDTH;
      max-inline-size: $CTA_LABEL_MAX_WIDTH;
    }

    & .icon {
      width: $CTA_ICON_SIZE;
      height: $CTA_ICON_SIZE;
      flex-shrink: 0;
    }
  }
}

/* TODO: move these `[disabled]` and `[loading]` styles to default.css */

/* NOTE: We add `=""` to enforce styles only for booleans */
/* stylelint-disable no-descending-specificity */
:host([disabled=""]),
:host([loading=""]) {
  cursor: auto;
  pointer-events: none;
}
/* stylelint-enable no-descending-specificity */
