%global-accessibility {
  & .visually-hidden:not(:focus, :active) {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
  }
}
