{{page-title "Configurator"}}
<header>
  <a href="/">Cake Config</a>
</header>
<main>
  <h1>Make your cake!</h1>
  <p>We’ll ask you some questions before we get baking.</p>
  <p>Keep an eye on how things are adding up in the price area. If you are an existing customer login for a faster checkout process and to see your order history.</p>

  {{outlet}}

</main>