{{page-title "EmberStorybook"}}

{{!-- The following component displays Ember's default welcome message. --}}

<h1> Welcome to Cake shop</h1>
<muon-cta>Click Here to Order</muon-cta>
{{!-- Feel free to remove this! --}}

{{outlet}}