{{page-title "Detail"}}

<LinkTo @route="index">
  Home
</LinkTo>

<h2>Muon Detail</h2>

<mn-detail>
  <h3 slot="heading">How to import muon into Ember Apps</h3>
  <ol>
    <li>Add muon package dependency into Ember app package.json.</li>
    <li>Run `npm run build-muon` from Ember App folder</li>
  </ol>
</mn-detail>