{{page-title "Index"}}

<nav>
<LinkTo @route="cta">
  CTA
</LinkTo>
<br>
<p></p>
<LinkTo @route="icon">
  Icon
</LinkTo>
<br>
<p></p>
<LinkTo @route="inputter">
  Inputter
</LinkTo>
<br>
<p></p>
<LinkTo @route="detail">
  Detail
</LinkTo>
</nav>
