  <head>
    <title>Welcome to the Cake Config homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A testing area for existing and potential Muon components in a hypothetical cake business.">
  </head>
    <body>
    <header>
      <a href="/">Cake Config</a>
    </header>
    <main>
      <h1>Cake Config v 1.0</h1>
      <p>Welcome to the Muon Cake Configurator – a testing area for existing and potential Muon components in a hypothetical cake business.</p>
      <p>The purpose is to test Muon components in certain scenarios and as part of a user journey, to place them in context and understand how they perform, which in turn can inform how they are best built.</p>
      <a href="/configurator">
        <muon-cta>Make your Cake!</muon-cta>
      </a>

      <h2>Birthday cake</h2>
      <p>Description of the cake goes here and could be multiple lines.</p>
      <a href="#!">Birthday example</a>

      <h2>Wedding cake</h2>
      <p>Description of the cake goes here and could be multiple lines.</p>
      <a href="#!">Wedding example</a>

      <h2>Anniversary cake</h2>
      <p>Description of the cake goes here and could be multiple lines.</p>
      <a href="#!">Anniversary example</a>
    </main>
  </body>