@import '@muons/library/css/default.css';

:host {
  display: inline-block;
  min-width: 10px; /* to give a minimum size to be observable */
  min-height: 10px; /* to give a minimum size to be observable */

  &,
  & svg,
  & .icon {
    width: var(--icon-size, 100%);
    height: var(--icon-size, 100%);
  }

  & svg {
    display: block;
    fill: $ICON_FILL;
  }

  @media (-ms-high-contrast: active), (forced-colors: active) {
    & svg { /* stylelint-disable-next-line property-no-unknown */
      forced-color-adjust: none;
    }
  }
}
