@import '@muon/library/css/default.css';

:host {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;

  &,
  & .icon {
    width: var(--icon-size, 100%);
    height: var(--icon-size, 100%);
  }

  & svg {
    display: block;
    fill: currentColor;
  }
}
