:host {
  display: block;

  & .container {
    @define-container;
    container-type: inline-size;

    & .body {
      --background-color: mistyrose;
      --slotted-background-color: tan;

      background-color: var(--background-color);
      padding: $SPACER_16PX;

      & ::slotted(p) {
        background-color: var(--slotted-background-color);
      }
    }

    @container (min-width: 576px) {
      & .body {
        --background-color: lightblue;
        --slotted-background-color: lightskyblue;
      }
    }

    @container (min-width: 864px) {
      & .body {
        --background-color: palegreen;
        --slotted-background-color: yellowgreen;
      }
    }
  }
}
