{{page-title "PickFilling"}}

  <muon-inputter heading="What fillings?" validation="[&quot;isRequired&quot;]">
    <input type="checkbox" name="filling" value="buttercream" id="filling-01">
    <label for="filling-01">Buttercream</label>
    <input type="checkbox" name="filling" value="strawberry-jam" id="filling-02">
    <label for="filling-02">Strawberry jam</label>
    <input type="checkbox" name="filling" value="raspberry-jam" id="filling-03">
    <label for="filling-03">Raspberry jam</label>
    <input type="checkbox" name="filling" value="cream-cheese" id="filling-04">
    <label for="filling-04">Cream cheese</label>
    <input type="checkbox" name="filling" value="coffee" id="filling-05">
    <label for="filling-05">Coffee</label>
    <input type="checkbox" name="filling" value="lemon-mascarpone" id="filling-06">
    <label for="filling-06">Lemon mascarpone</label>
  </muon-inputter>

  <a href="/configurator/pick-colour"><muon-cta icon="arrow-left">Previous</muon-cta></a>
  <a href="/configurator/pick-occasion">
  <muon-cta>Next</muon-cta>
  </a>