{{page-title "Pick your cake colour"}}

  <muon-inputter heading="What colour icing?" validation="[&quot;isRequired&quot;]">
    <input type="radio" name="icing" value="black" id="icing-01">
    <label for="icing-01">Black</label>
    <input type="radio" name="icing" value="purple" id="icing-02">
    <label for="icing-02">Purple</label>
    <input type="radio" name="icing" value="pink" id="icing-03">
    <label for="icing-03">Pink</label>
    <input type="radio" name="icing" value="blue" id="icing-04">
    <label for="icing-04">Blue</label>
    <input type="radio" name="icing" value="green" id="icing-05">
    <label for="icing-05">Green</label>
    <input type="radio" name="icing" value="brown" id="icing-06">
    <label for="icing-06">Brown</label>
  </muon-inputter>
  <a href="/configurator/pick-sponge"><muon-cta icon="arrow-left">Previous</muon-cta></a>
  <a href="/configurator/pick-filling">
  <muon-cta>Next</muon-cta>
  </a>